{% extends '_base.html' %}
{% load static %}

{% block extra_css %}
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock extra_css %}

{% block content %}

<header class="w3-bar w3-border-bottom">
    <a href="{% url 'cart' %}" class="w3-bar-item w3-button">
        <i class="fa-solid fa-arrow-left background-color-inherit"></i> Back to Cart</a>
    <span class="w3-bar-item w3-right w3-large"><i class="fa-solid fa-credit-card"></i> Checkout</span>
</header>

{% if not cart_items %}
<div class="w3-panel">
    <h3 class="w3-margin-0 w3-center">Cart is empty</h3>
</div>
{% else %}

<div class="w3-content page w3-padding-16">
    <div class="w3-row-padding">

        <!-- Checkout Form Section -->
        <section class="w3-col l8 m12 s12">

            <!-- Shipping Address -->
            <div class="w3-card w3-margin-bottom">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Shipping and Billing Address</h3>
                </header>
                {% if addresses|length >= 2 %}
                        <form action="{%  url 'checkout' %}" method="post" class="wide w3-margin-bottom">
                            {% csrf_token %}
                            <select name="active_address_id" class="wide">
                                {% for addr in addresses %}
                                    <option value="{{ addr.id}}"{% if addr.id == active_address.id %} selected{% endif %}>
                                        {{ addr.address_line1 }}
                                        {{ addr.address_line2 }},
                                        {{ addr.city }},
                                        {% if addr.state %}
                                            {{ addr.state }},
                                        {% endif %}
                                        {{ addr.postal_code }},
                                        {{ addr.country }}
                                        {% if addr.is_default %}
                                            (default)
                                        {% endif %}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="w3-button w3-dark-gray w3-round w3-block">
                                Use this address</button>
                        </form>
{#                    End of address choice#}
                {% endif %}
                <div class="w3-container">
                    <form id="addresses_form" class="wide">
                        <div class="w3-row-padding">
                            <div class="w3-col s12 w3-margin-bottom">
                                <label for="address_line1" class="w3-small"><strong>Address Line 1</strong></label>
                                <input id="address_line1" type="text" class="w3-input w3-border w3-round"
                                    name="address_line1" placeholder="" value="{{ active_address.address_line1 }}" required>
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 w3-margin-bottom">
                                <label for="address_line2" class="w3-small">Address Line 2</label>
                                <input id="address_line2" type="text" class="w3-input w3-border w3-round"
                                    name="address_line2" placeholder="" value="{{ active_address.address_line2 }}">
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 m4 w3-margin-bottom">
                                <label for="state" class="w3-small">State/Province</label>
                                <input id="state" type="text" class="w3-input w3-border w3-round" placeholder=""
                                    name="state" value="{{ active_address.state }}">
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 m4 w3-margin-bottom">
                                <label for="city" class="w3-small"><strong>City</strong></label>
                                <input id="city" type="text" class="w3-input w3-border w3-round" placeholder=""
                                    name="city" value="{{ active_address.city }}" required>
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 m4 w3-margin-bottom">
                                <label for="zip" class="w3-small"><strong>Post Code</strong></label>
                                <input id="zip" type="text" class="w3-input w3-border w3-round" placeholder=""
                                    name="zip" value="{{ active_address.postal_code }}" required>
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 w3-margin-bottom">
                                <label for="country" class="w3-small"><strong>Country</strong></label>
                                <select id="country" name="country" class="w3-select w3-border w3-round">
                                    <option value="GB"
                                            {% if active_address.country == 'GB' %}selected{% endif %}>United Kingdom</option>
                                    <option value="US"
                                            {% if active_address.country == 'US' %}selected{% endif %}>United States</option>
                                    <option value="CA"
                                            {% if active_address.country == 'CA' %}selected{% endif %}>Canada</option>
                                </select>
                                <div class="error-message"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Contact Information -->
            <div class="w3-card w3-white w3-margin-bottom">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Contact Information</h3>
                </header>
                <form id='contact_information_form' class="w3-container w3-padding">
                        <div class="w3-row-padding">
                            <div class="w3-col s12 m6 w3-margin-bottom">
                                <label for="first_name" class="w3-small"><strong>First Name</strong></label>
                                <input id="first_name" name="first_name" type="text" class="w3-input w3-border w3-round"
                                    placeholder="" value="{{ profile.name }}" required>
                                <div class="error-message"></div>
                            </div>
                            <div class="w3-col s12 m6 w3-margin-bottom">
                                <label for="last_name" class="w3-small"><strong>Last Name</strong></label>
                                <input id="last_name" type="text" class="w3-input w3-border w3-round" placeholder=""
                                    name="last_name" value="{{ profile.surname }}" required>
                                <div class="error-message"></div>
                            </div>
                        </div>
                </form>
            </div>

            <!-- Payment Details (Stripe) -->
            <div class="w3-card w3-margin-bottom w3-padding">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Payment</h3>
                </header>

                <form id="payment-form" class="w3-padding">
                    <div id="payment-message" class="w3-center w3-panel w3-red no-padding-margin w3-margin-bottom">
                    </div>
                    <div id="card-element">
                      </div>
                    <div class="w3-center w3-padding">
                        You are about to order items for <strong>£{{ total|floatformat:2 }}</strong>.
                    </div>

                    <div class="">
                        <button type="submit" class="w3-button w3-red w3-round w3-block pay-button" id="submit">
                            <i class="fa-solid fa-lock background-color-inherit"></i> Pay Now</button>
                    </div>
                    <div class="w3-small w3-text-grey w3-margin-bottom">
                        <i class="fa-solid fa-lock"></i> Secure payment • <i class="fa-solid fa-rotate"></i> 30-day
                        returns • <strong>No actual payments will be taken</strong>
                    </div>
                </form>
            </div>
        </section>

        <!-- Order Summary -->
        <aside class="w3-col l4 m12 s12">
            <div class="w3-card w3-white sticky-summary">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Order Summary</h3>
                </header>

                <!-- Cart Items -->
                <div class="w3-container" id="cartBody">
                    {% csrf_token %}
                    {% for prod in cart_items %}
                    <div class="w3-row w3-padding-small">
                        <div class="w3-col s3">
                            <div class="thumb w3-border">
                                <img src="{{ prod.product.image.url.url }}" alt="{{ prod.product.title }}">
                            </div>
                        </div>
                        <div class="w3-col s6">
                            <strong class="w3-small">{{ prod.product.title }}</strong>
                            <div class="w3-tiny w3-text-grey">Price: <span class="item-price">
                                £{{ prod.product.price }}</span></div>
                            <div class="w3-tiny w3-text-grey">Qty: <span class="item-qty">{{ prod.qty }}</span></div>
                        </div>
                        <div class="w3-col s3 w3-right-align">
                            <div class="w3-small">£<span class="prod-line"
                                data-qty="{{ prod.qty }}" data-price="{{ prod.product.price }}">
                            </span></div>
                        </div>
                    </div>
                    <hr class="w3-margin-0">
                    {% endfor %}
                </div>

                <!-- Summary Totals -->
                <div class="w3-container">
                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">Subtotal</div>
                        <div class="w3-col s6 w3-right-align">£<span id="subtotal">{{ subtotal }}</span></div>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">Discount</div>
                        <div class="w3-col s6 w3-right-align">−£<span id="discount">{{ discount_value }}</span></div>
                    </div>


                    <!-- Shipping Data -->

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">
                            Shipping <br><span class="w3-small">{{ shipping_method_html }}</span>
                            {% if shipping_price == 0.00 %}
                                <div class="w3-small w3-text-grey">Free over £50</div>
                            {% endif %}
                        </div>
                        <div class="w3-col s6 w3-right-align">
                            £{{ shipping_price }}
                        </div>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">incl. VAT<div class="w3-small w3-text-grey">{{ vat_percent }}%</div>
                                </div>
                        <div class="w3-col s6 w3-right-align">£<span id="vat">{{ vat_amount }}</span></div>
                    </div>

                    <hr>

                    <div class="w3-row w3-xlarge">
                        <div class="w3-col s6"><strong>Total</strong></div>
                        <div class="w3-col s6 w3-right-align"><strong>£<span id="total">{{ total }}</span>
                            </strong></div>
                    </div>

                    <div class="no-padding-margin">
                        <p class="no-padding-margin w3-small">&nbsp;</p>
                    </div>
                </div>
            </div>
        </aside>

    </div>
</div>

{% endif %}

{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    {{ order.order_no|json_script:"order_no" }}
    {{ cart.cart_number|json_script:"cart_no" }}
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}