{% extends '_base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock extra_css %}

{% block content %}

<header class="w3-bar w3-border-bottom">
    <a href="{% url 'cart' %}" class="w3-bar-item w3-button">
        <i class="fa-solid fa-arrow-left background-color-inherit"></i> Back to Cart</a>
    <span class="w3-bar-item w3-right w3-large"><i class="fa-solid fa-credit-card"></i> Checkout</span>
</header>

{% if not cart_items %}
<div class="w3-panel">
    <h3 class="w3-margin-0 w3-center">Cart is empty</h3>
</div>
{% else %}

<div class="w3-content page w3-padding-16">
    <div class="w3-row-padding">

        <!-- Checkout Form Section -->
        <section class="w3-col l8 m12 s12">

            <!-- Contact Information -->
            <div class="w3-card w3-white w3-margin-bottom">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Contact Information</h3>
                </header>
                <div class="w3-container w3-padding">
                    <form id="checkout-form">
                        <div class="w3-row-padding">
                            <div class="w3-col s12 m6 w3-margin-bottom">
                                <label for="first-name" class="w3-small"><strong>First Name</strong></label>
                                <input id="first-name" type="text" class="w3-input w3-border w3-round"
                                    placeholder="John" value="" required>
                            </div>
                            <div class="w3-col s12 m6 w3-margin-bottom">
                                <label for="last-name" class="w3-small"><strong>Last Name</strong></label>
                                <input id="last-name" type="text" class="w3-input w3-border w3-round" placeholder="Doe"
                                    value="" required>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Shipping Address -->
            <div class="w3-card w3-white w3-margin-bottom">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Shipping and Billing Address</h3>
                </header>
                <div class="w3-container w3-padding">
                    <div class="w3-row-padding">
                        <div class="w3-col s12 w3-margin-bottom">
                            <label for="address_line1" class="w3-small"><strong>Address Line 1</strong></label>
                            <input id="address_line1" type="text" class="w3-input w3-border w3-round"
                                placeholder="123 Christmas Lane" value="" required>
                        </div>
                        <div class="w3-col s12 w3-margin-bottom">
                            <label for="address_line2" class="w3-small">Address Line 2</label>
                            <input id="address_line2" type="text" class="w3-input w3-border w3-round"
                                placeholder="" value="">
                        </div>
                        <div class="w3-col s12 m4 w3-margin-bottom">
                            <label for="state" class="w3-small">State/Province</label>
                            <input id="state" type="text" class="w3-input w3-border w3-round" placeholder="Arctic"
                                value="">
                        </div>
                        <div class="w3-col s12 m4 w3-margin-bottom">
                            <label for="city" class="w3-small"><strong>City</strong></label>
                            <input id="city" type="text" class="w3-input w3-border w3-round" placeholder="North Pole"
                                value="" required>
                        </div>
                        <div class="w3-col s12 m4 w3-margin-bottom">
                            <label for="zip" class="w3-small"><strong>Post Code</strong></label>
                            <input id="zip" type="text" class="w3-input w3-border w3-round" placeholder="H0H 0H0"
                                value="">
                        </div>
                        <div class="w3-col s12 w3-margin-bottom">
                            <label for="country" class="w3-small"><strong>Country</strong></label>
                            <select id="country" class="w3-select w3-border w3-round">
                                <option selected>United Kingdom</option>
                                <option>United States</option>
                                <option>Canada</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Payment Details -->
            <div class="w3-card w3-white w3-margin-bottom">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Payment Details</h3>
                </header>
                <div class="w3-container w3-padding">
                    <div class="w3-row-padding">
                        <div class="w3-col s12 w3-margin-bottom">
                            <label for="card-number" class="w3-small">Card Number</label>
                            <input id="card-number" type="text" class="w3-input w3-border w3-round"
                                placeholder="" required>
                        </div>
                        <div class="w3-col s12 m6 w3-margin-bottom">
                            <label for="expiry" class="w3-small"><strong>Expiry Date</strong></label>
                            <input id="expiry" type="text" class="w3-input w3-border w3-round" placeholder="MM/YY"
                            required maxlength="5">
                        </div>
                        <div class="w3-col s12 m6 w3-margin-bottom">
                            <label for="cvc" class="w3-small"><strong>CVC</strong></label>
                            <input id="cvc" type="text" class="w3-input w3-border w3-round" placeholder="123"
                                   required maxlength="3">
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <!-- Order Summary -->
        <aside class="w3-col l4 m12 s12">
            <div class="w3-card w3-white sticky-summary">
                <header class="w3-container w3-padding">
                    <h3 class="w3-margin-0">Order Summary</h3>
                </header>

                <!-- Cart Items -->
                <div class="w3-container" id="cartBody">
                    {% csrf_token %}
                    {% for prod in cart_items %}
                    <div class="w3-row w3-padding-small">
                        <div class="w3-col s3">
                            <div class="thumb w3-border">
                                <img src="{{ prod.product.image.url.url }}" alt="{{ prod.product.title }}">
                            </div>
                        </div>
                        <div class="w3-col s6">
                            <strong class="w3-small">{{ prod.product.title }}</strong>
                            <div class="w3-tiny w3-text-grey">Price: <span class="item-price">
                                £{{ prod.product.price }}</span></div>
                            <div class="w3-tiny w3-text-grey">Qty: <span class="item-qty">{{ prod.qty }}</span></div>
                        </div>
                        <div class="w3-col s3 w3-right-align">
                            <div class="w3-small">£<span class="prod-line"
                                data-qty="{{ prod.qty }}" data-price="{{ prod.product.price }}">
                            </span></div>
                        </div>
                    </div>
                    <hr class="w3-margin-0">
                    {% endfor %}
                </div>

                <!-- Summary Totals -->
                <div class="w3-container">
                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">Subtotal</div>
                        <div class="w3-col s6 w3-right-align">£<span id="subtotal">{{ subtotal }}</span></div>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">Discount</div>
                        <div class="w3-col s6 w3-right-align">−£<span id="discount">{{ discount_value }}</span></div>
                    </div>


                    <!-- Shipping Data -->

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">
                            Shipping <br><span class="w3-small">{{ shipping_method_html }}</span>
                            {% if shipping_price == 0.00 %}
                                <div class="w3-small w3-text-grey">Free over £50</div>
                            {% endif %}
                        </div>
                        <div class="w3-col s6 w3-right-align">
                            £{{ shipping_price }}
                        </div>
                    </div>

                    <div class="w3-row w3-margin-top">
                        <div class="w3-col s6">incl. VAT<div class="w3-small w3-text-grey">{{ vat_percent }}%</div>
                                </div>
                        <div class="w3-col s6 w3-right-align">£<span id="vat">{{ vat_amount }}</span></div>
                    </div>

                    <hr>

                    <div class="w3-row w3-xlarge">
                        <div class="w3-col s6"><strong>Total</strong></div>
                        <div class="w3-col s6 w3-right-align"><strong>£<span id="total">{{ total }}</span>
                            </strong></div>
                    </div>

                    <div class="w3-section">
                        <input type="hidden" id="pay-action" value="{% url 'pay-now' %}">
                        <button type="button" class="w3-button w3-red w3-round w3-block pay-button" id="pay-button">
                            <i class="fa-solid fa-lock background-color-inherit"></i> Pay Now</button>
                    </div>

                    <div class="w3-small w3-text-grey w3-margin-bottom">
                        <i class="fa-solid fa-lock"></i> Secure payment • <i class="fa-solid fa-rotate"></i> 30-day
                        returns
                    </div>
                </div>
            </div>
        </aside>

    </div>
</div>

{% endif %}

<form id="form-template">
    {% csrf_token %}
</form>

{% endblock content %}

{% block postloadjs %}
<script src="{% static 'js/checkout.js' %}"></script>
{% endblock postloadjs %}