{% extends '_base.html' %}
{% load static %}
{% block content %}

    <div class="banner-wrapper">
        <img src="{% static 'images/banner.png' %}" class="main-banner">
    </div>

    {% for cat in categories %}
    <!-- Category loop -->
    <section class="category-section">
      <h2 class="w3-border-bottom w3-padding-small">{{ cat.title }}</h2>
      <div class="scroll-container">
        <!-- Repeat for 8 products -->
        {% for prod in cat.top_products %}
            <div class="w3-card product-card w3-padding">
              <a href="{% url 'product-detail' slug=prod.slug %}"
                 class="no-text-decoration">
                    <img src="{{ prod.image.url.url }}" alt="{{ prod.image.name }}"
                         class="w3-image product-image-carousel">
                    <h6>{{ prod.title }}</h6></a>
                  <form method="post" action="{% url 'add-to-cart'%}">
                      <input type="hidden" name="sku" value="{{ prod.sku }}">
                      {% csrf_token %}
                    <div class="w3-section">
                      <span class="price">£{{ prod.price }}</span>&nbsp;&nbsp;
                          <button class="w3-button w3-border w3-round w3-right">Add to cart</button>
                    </div>
                  </form>
            </div>
        {% endfor %}
        <!-- Add 7 more product cards similarly -->
      </div>
    </section>
    {% endfor %}

{% endblock content %}
