{% extends '_base.html' %}
{% load static %}
{% block content %}

    <div class="banner-wrapper">
        <img src="{% static 'images/banner.png' %}" class="main-banner">
    </div>

    {% for cat in categories %}
    <!-- Category loop -->
    <section class="category-section">
      <h2 class="w3-border-bottom w3-padding-small">{{ cat.title }}</h2>
      <div class="scroll-container">
        <!-- Repeat for 8 products -->
        {% for prod in cat.top_products %}
            <div class="w3-card product-card w3-padding">
              <img src="{{ prod.image.url.url }}" alt="{{ prod.image.name }}" class="w3-image product-image-carousel">
              <h6>{{ prod.title }}</h6>
              <p>£{{ prod.sales_price }}</p>
            </div>
        {% endfor %}
        <!-- Add 7 more product cards similarly -->
      </div>
    </section>
    {% endfor %}

{% endblock content %}
