{% extends '_base.html' %}
{% load static %}

{% block content %}

    <h1 class="w3-center">Profile</h1>

    <div class="w3-container w3-row">
        <div class="w3-col l2 m2 s3 tab-menu">
            <div class="w3-bar-block">
              <button data-tab="general_info" class="w3-bar-item w3-button w3-border tablink">General info</button>
              <button data-tab="security"  class="w3-bar-item w3-button w3-border tablink">Security</button>
            </div>
        </div>
        <div class="w3-col l10 m10 s9">
          <div id="general_info" class="w3-container tab" style="display:none">
            <div class="allauth-page allauth-page-embedded">
              <form action="{% url 'profile' %}" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <h2>General info</h2>
                    <div><strong>Username:</strong> {{ user_data.username }}</div>
                  <div><strong>Email:</strong> {{ email.email }} ({% if email.verified %}verified{% else %}NOT verified{% endif %})</div>
                    <label for="name_id">Name:</label>
                        <input type="text" name="name" id="name_id" value="{{ user_data.first_name }}">
                    <label for="surname_id">Surname:</label>
                        <input type="text" name="surname" id="surname_id" value="{{ user_data.last_name }}">
                    <br>
                    <input type="hidden" name="action" value="general_info">
                    <button type="submit">Ok</button>
              </form>
            </div>
          </div>
          <div id="security" class="w3-container tab" style="display:none">
            <h2>Security</h2>
              <div>Change your password <a href="{% url 'account_change_password' %}?next={% url 'profile' %}">here</a>.</div>
          </div>
        </div>
    </div>


{% endblock content %}

{% block postloadjs %}
    <script src="{% static 'js/postload.js' %}"></script>
    <script>
        profileListeners();
    </script>

{% endblock postloadjs %}
