asgiref==3.9.2
astroid==4.0.4
autopep8==2.3.2
black==26.3.1
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.2
colorama==0.4.6
diff-match-patch==20241021
dill==0.4.1
Django==5.2.7
django-allauth==65.11.2
django-import-export==4.3.13
factory_boy==3.3.3
Faker==39.0.0
gunicorn==26.2.0
idna==3.11
iniconfig==2.3.0
isort==8.0.1
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.9.4
pluggy==1.6.0
psycopg2-binary==2.9.10
pycodestyle==2.14.0
Pygments==2.19.2
pytest==9.0.2
pytest-django==4.11.1
pytest-dotenv==0.5.2
pytest-env==1.2.0
python-dotenv==1.2.1
pytokens==0.4.1
requests==2.32.5
ruff==0.15.11
sqlparse==0.5.3
stripe==14.0.1
tablib==3.9.0
tomlkit==0.14.0
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.6.1
whitenoise==6.11.0
