
/* Stripe styles */
#payment-element {
  margin-bottom: 24px;
  min-height: 300px; /* Prevents layout shift while loading */
}

#submit {
  background: #2b2b2b;
  color: #ffffff;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
}

#submit:hover {
  background: #000000;
}
/* EOF Stripe styles */
