            <div class="w3-padding-small w3-center" id="search-wrapper">
                        <form action="{% url 'products' %}" method="get">
                            <input
                                type="text"
                                name="q"
                                placeholder="Search products..."
                                value="{{ search_criteria|default:'' }}"
                                minlength="3"
                            >
                            <button type="submit"><span>Search</span></button>
                        </form>
            </div>