Thank you for your order!

Order #1cd27fef-8b9b-47a0-adea-91bdaa753912
Date: 15 January 2026
Status: PENDING

Shipping Address
Santa Clauss
4567 Caplan Street,
Thorn,
Worcestershire,
TH23 4VM
US

Billing Address
Santa Clauss
4567 Caplan Street,
Thorn,
Worcestershire,
TH23 4VM
US

Items in this Order
+----------------------------------------------------------------------+
SKU | Product | Quantity | Price | Total |
+----------------------------------------------------------------------+
SKU000002 | Woollen Fair Isle Mittens in Hearth Red | 2 | £34.99 | £69.98 |
SKU000012 | Evergreen Cable-Knit Scarf | 1 | £29.99 | £29.99 |
SKU000033 | Mistletoe Embroidered Wool Jumper | 1 | £34.99 | £34.99 |
+----------------------------------------------------------------------+
Subtotal	£134.96
Discount	- £0.00
Shipping (Standard)	£0.00
VAT included	£22.49
------------
Grand Total	£134.96

The Olde Christmas Market
View order online here: http://127.0.0.1:8003/orders/order_detail/1cd27fef-8b9b-47a0-adea-91bdaa753912/