{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="robots" content="noindex, nofollow">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="{% static 'js/main.js' %}"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>{% block title %}The Christmas Shop{% endblock title %}{% block subtitle %}{% endblock subtitle %}</title>

      <!-- Favicon -->
      <link rel="icon" type="image/png" href="{% static 'images/favico_transparent.png' %}">

  </head>
<body>
<header class="wide">
     <div id="logo-header" class="w3-center">
         <a href="{% url 'index' %}"><img src="{% static 'images/logo_transparent.png' %}" class="logo"></a>
     </div>
    <div class="wide main-menu-bgcolor">
     <nav class="w3-container w3-row main-menu">
         <div class="w3-col l8 m8 s8 w3-left w3-padding-small">
             <a href="{% url 'index' %}">Home</a>&nbsp;&nbsp;
             <div class="dropdown">
              <p class="dropbtn"> Products</p>
                  <div class="dropdown-content">
                    <a href="{% url 'products' %}">All products</a>
                    <a href="{% url 'catalogue' 'christmas-decorations' %}">Christmas Decorations</a>
                    <a href="{% url 'catalogue' 'toys-gifts' %}">Toys & Gifts</a>
                    <a href="{% url 'catalogue' 'festive-homeware' %}">Festive Homeware</a>
                    <a href="{% url 'catalogue' 'holiday-apparel' %}">Holiday Apparel</a>
                  </div>
            </div>
             <a href="{% url 'about' %}">About</a>
             &nbsp;<a href="{% url 'contact-form' %}">Contact</a>
         </div>
         <div class="w3-col l4 m4 s4 w3-padding-small">
             <div class="w3-right w3-padding-small">
                 <a href="{% url 'cart' %}"><i class="fa-solid fa-cart-shopping background-color-inherit w3-large"></i>
                     {% if cart_item_count %}
                    <span class="cart-count w3-badge w3-border w3-border-white">{{ cart_item_count }}</span>
                    {% endif %}
                 </a>
             </div>
             {% if user.is_authenticated %}
                 <div class="dropdown w3-right">
                  <p class="dropbtn"><i class="fa-regular fa-user" id="profile-fa"></i> {{ user.username }}, your profile</p>
                  <div class="dropdown-content">
                    <a href="{% url 'profile' %}">Profile</a>
                    <a href="{% url 'order-list' %}">Orders</a>
                    <a href="{% url 'account_logout' %}">Logout</a>
                  </div>
                </div>
             {% else %}
                 <div class="w3-right">
                    <a href="{% url 'account_login' %}">Login</a> |
                    <a href="{% url 'account_signup' %}">Sign Up</a>
                 </div>
             {% endif %}
            </div>
     </nav>
    </div>
 </header>

    {% if messages %}
        <div class="w3-container w3-center">
         <ul>
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
         </ul>
       </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    <div class="w3-container page-content">
    {% block content %}
    {% endblock %}

    <footer class="w3-row w3-container w3-center w3-green w3-padding-24 w3-margin-top">
            <div class="w3-col s6 m6 l6 w3-left-align background-color-inherit">
                &copy; The Olde Christmas Market
            </div>

            <div class="w3-col s6 m6 l6 w3-right-align background-color-inherit">
                <a href="https://github.com/ajandris/simpleshop"
                   class="no-text-decoration"
                   target="_blank"
                   rel="noopener noreferrer">
                    GitHub
                </a>
                &nbsp;
                <a href="https://linkedin.com/in/andris-jancevskis"
                   class="no-text-decoration"
                   target="_blank"
                   rel="noopener noreferrer">
                    LinkedIn
                </a>
        </div>
    </footer>
    </div>

    {% block postloadjs %}
    {% endblock %}

</body>
</html>